<div class="panel panel-default">
  <div class="panel-body">


    <div class="jumbotron">
      <h1>Lista das obras</h1>
      <small>Obras Prediais</small>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2 "><a class="btn btn-success btn-lg" href="#" role="button">Nova Obra</a></div>
          <div class="col-md-5 col-md-offset-5"><input type="text" class="form-control" id="buscaObra" placeholder="Pesquisar obra"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3" *ngFor="let obra of Obras">
        <div class="thumbnail">
          <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTkyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDE5MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTY2NjVhNzgzMWUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjY2NWE3ODMxZSI+PHJlY3Qgd2lkdGg9IjE5MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI3MC4wNTQ2ODc1IiB5PSIxMDQuNSI+MTkyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" alt="...">
          <div class="caption">
            <h3>{{obra.name}}</h3>
            <p>{{obra.description}}</p>
            <p>
              <a href="#" class="btn btn-primary"> <span class="  glyphicon glyphicon-eye-open"></span> Visualizar</a>
            
              <a href="#" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span> Excluir</a>

            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60% de progresso
              </div>
            </div>
            <span class="label label-warning">Em Andamento</span>
            <span class="label label-danger">Parado</span>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
